{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": 2,
    "semi": [ 2, "always" ],
    "quotes": [ 2, "single" ],
    "no-undef": 2,
    "global-strict": 0,
    "keyword-spacing": [2, { "before": true, "after": true }],
    "space-in-parens": [2,"always"],
    "no-extra-semi": 2,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-unused-vars": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-unreachable": 2,
    "no-alert": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2
  }
}
